@import "src/global";

.stage-container {
  display: flex;
  justify-content: center;

  & > * {
    &:not(:first-child) {
      margin-left: 8px;
    }

    &.stage {
      @include confirm-button;
      flex: 0 1 calc(100% / 4);

      &.selected {
        background: $grab-primary-color-dark;
      }
    }
  }
}
