/**
 * Copyright 2019 Grabtaxi Holdings PTE LTE (GRAB), All rights reserved.
 * Use of this source code is governed by an MIT-style license that can be found in the LICENSE file
 */
@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin product-container {
  & > * {
    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}

@mixin confirm-button {
  align-items: center;
  background: $grab-primary-color;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background: rgba($grab-primary-color, 0.8);
  }

  @include md {
    width: 250px;
  }
}

@mixin stage-confirm-button {
  @include confirm-button;

  @include md {
    margin-left: auto;
  }
}

@mixin stage-container {
  border: 1px solid $grab-primary-color;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0 8px;

    &:not(.stage-description),
    &:not(:first-child) {
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 8px;
    }

    &.divider {
      height: 1px;
      margin-left: 0;
      margin-right: 0;
    }

    &.intro-title {
      background: $grab-primary-color;
      color: white;
      display: flex;
      font-size: 24px;
      justify-content: center;
      margin: 0;
      padding: 8px;
    }

    &.long-content {
      border: 1px solid lightgrey;
      color: darkgrey;
      cursor: pointer;
      min-height: 24px;
      padding: 8px;
      word-break: break-all;
    }

    &.stage-description {
      margin: 0 0 -8px 0;
      padding: 0 8px;

      .source-code {
        display: none;

        @include md {
          display: initial;
        }

        pre {
          border: 1px solid grey;
          padding: 8px;

          code,
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@mixin tab-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > .tab {
    align-items: center;
    border-bottom: 0.1px solid lightgrey;
    display: flex;
    height: 32px;
    flex: 0 0 calc(100% / 3);
    justify-content: center;
    padding: 8px 0 8px 0;

    @include md {
      flex: 0 0 calc(100% / 4);
    }

    @include lg {
      flex: 0 0 calc(100% / 6);
    }
  }
}

$grab-primary-color: rgba(0, 177, 79, 1);
$grab-primary-color-dark: rgba(0, 120, 79, 1);
